//===============================================================================================
// Variables
//===============================================================================================

/*  Color Variables  */

$color-primary: #51F4C9;
$color-btn-default: #74D3EB;
$color-btn-success: #53CA5F;
$color-btn-error: #DD6969;
$color-btn-warning: #F07841;
$color-btn-info: #965EAF;
$color-grid__col--3: #E99FE9;
$color-grid__col--6: #1A8CC0;
$color-grid__col--7: #DC8889;
$color-grid__col--8: #DC8E6A;

/*  Font Stacks */

$font-primary: 'Open Sans', sans-serif;

/*  Media Breakpoints */

$desktop-break: 1400px;

