//===============================================================================================
//  Button Styles
//===============================================================================================

.btn {
    
    &--default {
        @extend %btn-style;
        background-color: $cozumel;
            &:last-child {
                margin-bottom: 3em;
                    }
                }

    &--success {
        @extend %btn-style;
        background-color: $lime;
    }

    &--error {
        @extend %btn-style;
        background-color: $watermelon;
    }

    &--warning {
        @extend %btn-style;
        background-color: $sunset;
    }

    &--info {
        @extend %btn-style;
        background-color: $lavender;
            &:last-child {
            margin-bottom: 3em;
            }
        }
    }