//===============================================================================================
// Forms
//===============================================================================================

.form {
    
    @include media(lg) {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 10%;
            top: 330px;
            padding-left: 40px;
            & button {
                margin-left: -2px;
            }
        
    }
    .img--avatar {
        display: block;
        width: 12em;
        height: 12em;
        margin-left: 5em;
      }

      
    

    &__input {
    width: 350px;
    height: 35px;
    border: none;
    border-bottom: 4px solid $aqua;
    margin-bottom: 1em;
    
    &::placeholder {
    font-size: $base-font-size;
    text-indent: 10px;
    }
}
}

.form__label--hidden {
    visibility: hidden;
}
