//===============================================================================================
// Forms
//===============================================================================================

.form {
    &__input {
    width: 350px;
    height: 35px;
    border: none;
    border-bottom: 4px solid $aqua;
    margin-bottom: 1em;
    
    &::placeholder {
    font-size: $base-font-size;
    text-indent: 10px;
    }
}
}

.form__label--hidden {
    visibility: hidden;
}
