//===============================================================================================
//  Grid Styles
//===============================================================================================

.grid {
    &__row {
        margin-bottom: 40px;
        @include media(lg) {
            display: flex;
        }
    }

    &__col--12 {
        
        @include media(lg) {
            width: 100%;
            display: flex;
            flex-direction: row;
      
            justify-content: space-around;
        }
        
        &.theme__colors {
        @extend %grid-style;
        background-color: $aqua;
        }              
    }

    &__col--6 {

        &:last-child {
            @include media(lg) {
                margin-left: 20em;
            }
    }
        &.theme__colors {
        @extend %grid-style;
        background-color: $ocean;
        }              
    }

    &__col--4 {
        
        @include media(lg) {
            height: 300px;
            width: 40%;
            float: right;
        }

        &.theme__colors {
            @extend %grid-style;
            background-color: $cozumel;
        }
    }

    &__col--3 {

        & img {
            width: 9em;
        }
        &.theme__colors {
        @extend %grid-style;
        background-color: $panties;
        }              
    }

    &__col--5 {
        &.theme__colors {
        @extend %grid-style;
        background-color: $lime;
        @include media(lg) {
            width: 100%;
        }
        }              
    }

    &__col--7 {
        &.theme__colors {
        @extend %grid-style;
        background-color: $watermelon;
        }              
    }

    &__col--8 {

        @include media(lg) {
            width: 50%;
        }

        &.theme__colors {
        @extend %grid-style;
        background-color: $sunset;
        }              
    }
}