//===============================================================================================
// Navigation
//===============================================================================================

.nav {
    @extend %space-before, %space-after;
}

.nav__item {
    list-style-type: none;
    text-align: center;
    padding: 15px 0 15px 0;
    @extend %nav-btn;
    a {
        text-decoration: none;
        color: $january;
        &:hover {
            color: $white;
        }
    }
    &:hover {
        background-color: $aqua;
        cursor: pointer;
        @extend %border-radius;
    }
}





