//===============================================================================================
// Typography
//===============================================================================================

.container {
    @extend %center;
    @extend %space-before;
    font-family: $font-stack;
    line-height: $base-line-height;
    font-size: $base-font-size;
    max-width: 360px;
}

.link {
    text-decoration: none;
    font-weight: $font-weight-bold;
    color: $cozumel;
}

.blockquote {
    @extend %border-radius;
    @extend %space-after;
    color: $january;
    font-size: 1.3em;
    font-style: italic;
    border-left: .3em solid $aqua;
    padding-left: .7em;
    margin-left: .7em;
}

.headline {
    &--primary {
    color: $aqua;
    font-weight: $font-weight-bold;
    line-height: 35px;
    margin-left: 20px;
    padding-bottom: 15px;
    }

    &--secondary {
    color: $january;
    font-weight: $font-weight-light;
    margin-bottom: 40px;
    }
}

