//===============================================================================================
//  Base Styles
//===============================================================================================

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    color: $january;
    line-height: $base-line-height;
    margin-bottom: 4em;
}

ul {
    margin-top: 3em;
    margin-bottom: 7em;
}